<%- include('./layout/header') %>


  <body>
    

    <section style="padding-top: 30px;" id="showcase">
      <div class="container">
        <div id="slider">
         <h1>Hello! I am Faizan Akhtar 👨🏻‍💻</h1>
         <p>“When you want to know how things really work, study them when they're coming apart.”</p>
        </div>
      </div>
    </section>

    <section id="about">
            <div id="side-image">
                <center><img id="side-img" src="/public/asset/about.jpeg" alt=""></center>
            </div>
            <div id="side-para">
                <div id="about-para">
                    <h3>I believe in the principle of looking & understanding a problem in an organised and logical manner, and getting it done in a systematic and optimal way along with reasonable pace.</h3> <br>
                    <h3> - Faizan Akhtar</h3> <br>
                </div>
                
            </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p style="font-size: 35px;font-weight: bolder;text-transform: uppercase; text-align: center;">I also provide high-quality services</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <center><img style="width: 250px;" src="/public/asset/logo_html.png"></center>
            <h3 style="text-align: center;">Websites</h3>
            <p>Design Personal & Professional websites.</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <center><img style="width: 250px;" src="/public/asset/logo_css.png"></center>
        <h3 style="text-align: center;">Digital Marketing</h3>
        <p>Digital Marketing across all platforms like google, facebook, instagram, linkedin etc.</p>
          </div>

          <div class="col-md-4 col-sm-12">
            <center><img style="width: 250px;" src="/public/asset/logo_graphics.png"></center>
            <h3 style="text-align: center;">Graphics Design</h3>
            <p>From logo design to creative.</p>
          </div>

        </div>

      </div>
    </section>


    
    <%- include('./layout/footer') %>
    
    