<%- include('./layout/header') %>

<div style="padding-top: 150px; padding-bottom: 100px;" class="container">
    <div class="row">
        <div class="col-12">
            <h1>All Posts</h1>
            <% for(var dat of data) { %>    
                <div class="col-12">
            
                <h3><%= dat.post_title %></h3>
                <p><%- dat.post_description %></p>
            </div>
            <% } %>
        </div>
    </div>
</div>

<%- include('./layout/footer') %>