<%- include('./layout/header') %>

<section id="resume-showcase">
    <div id="resume-cover">
    
    <div id="resume-container">
      <h3>Dig a little Deeper</h3>
    </div>
  </div>
  </section>



  <section id="technologies">
  
   <div id="resume-sec-1">
     <h2 id="res-head-2">Skills</h2>
   </div>
   <div id="resume-sec-2">
    <h3>Programing Languages</h3>      
    <ul>
      <li>C, C++, PHP, Python, Java</li>
    </ul>
    <h3>Web Development</h3>
    <ul>
      <li>
        HTML,CSS,BootStrap, Node.JS, Laravel
      </li>
    </ul>
    <h3>Robotics and Automation</h3>
    <ul>
      <li>
        Ui Path Lab, Automation Anywhere, Aurdino IDE
      </li>
    </ul>
    <h3>Database</h3>
    <ul>
      <li>
        MySQL, Oracle
      </li>
    </ul>
    <h3>Miscellaneous</h3>
    <ul>
      <li>
        Data Structures & Algorithms(O), Data Science (O)
      </li>
    </ul>
  </div>

  </section>

  <section id="work-experience">
    <div id="work-exp-1">
      <h2 id="res-head-2" >COMPUTER PROFICIENCY</h2>
    </div>
    <div id="work-exp-2">
      <ul id="list-exp">
        <li>
          Windows XP/Vista/7/8/10
        </li>
        <li>
          MS Office 360
        </li>
        <li>
          CMD
        </li>
        <li>
          Git
        </li>
        <li>
          Visual Studio
        </li>
        <li>
          Adobe Packages
        </li>
        <li>
          Android Studio
        </li>
      </ul>
    </div>
    <div id="work-exp-3">
      <ul id="list-exp">
        <li>
          Mac OS 10.12/10.13/10.14/10.15
        </li>
        <li>
          Pages
        </li>
        <li>
          Keynote
        </li>
        <li>
          FCP
        </li>
        <li>
          Visual Code
        </li>
        <li>
          Xcode
        </li>
        <li>
          Adobe Packages
        </li>
      </ul>
    </div>
  </section>

  <section id="personal-detail">
    <div id="per-det-1">
      <h2 id="res-head-2">Personal Detail</h2>
    </div>
    <div id="per-det-2">
      <h3>Father's Name: </h3>
      <p>Mr. Saud Akhtar</p>

      <h3>Mother’s Name: </h3>
      <p>Mrs.Tarannum Akhtar</p>
    </div>
    <div id="per-det-3">
      <h3>Marital Status: </h3>
      <p>Single</p>

      <h3>Birthday.: </h3>
      <p>May 01, 1999</p>

      <h3>Nationality: </h3>
      <p>Indian</p>

      <h3>Gender: </h3>
      <p>Male</p>
    </div>
  </section>

  <section id="education">
    <div id="edu-sec-1">
      <h2 id="res-head-2">Education</h2>
    </div>
    <div id="edu-sec-2">
      <ul style="list-style: none;">
        <li>
          <h3 style="padding-left: 0;" id="res-head-2">Galgotias University</h3>
          <p style="font-size: 18px;">UGC Approved, NBA Accredited, Greater Noida, UP</p>
        </li>
        <li>
          <h3 style="padding-left: 0;" id="res-head-2">10+2</h3>
          <p style="font-size: 18px;">R.R INTER COLLEGE BSBE Board, Vaishali, Bihar</p>
        </li>
        <li>
          <h3 style="padding-left: 0;" id="res-head-2">10</h3>
          <p style="font-size: 18px;">International School CISCE, Patna, Bihar</p>
        </li>
      </ul>
    </div>
    <div style="padding-top: 30px;" id="edu-sec-3">
      <p style="font-size: 18px;">
        Currently Pursuing
      </p>
      <br>
      <br>
      <br>
      <br>
      
      
      <p style="font-size: 18px;">Graduated, July 2016</p>
      <br>
      <br>
      <br>
      <br>
      <p style="font-size: 18px;">Graduated, July 2014</p>
    </div>
  </section>

  <%- include('./layout/footer') %>