<footer>
    <p style="font-size: 35px;font-weight: bolder;text-transform: uppercase;">Let Me Create a Website you need.</p>

    <center>

      <ul id="footer-menu">
      <li>
       <a href="/">HOME</a> 
      </li>
      <li>
       <a href="/resume">Resume</a>
      </li>
      <li>
       <a href="/contact">Contact</a>
      </li>
    </ul>
  </center>
    <br>
    <br>
    <ul id="footer-links">
      <li>
      <a href="https://twitter.com/thefaizanakhtar"><img width="25px" height="25px" src="/public/ico/tw.svg" alt=""></a> 
    </li>
    <li>
      <a href="https://www.linkedin.com/in/thefaizanakhtar/"><img width="25px" height="25px" src="/public/ico/li.svg" alt=""></a>
    </li>
    <li>
     <a href="https://www.instagram.com/faizan._.akhtar/"><img width="25px" height="25px" src="/public/ico/ins.svg" alt=""></a>
    </li>
  </ul>

  <p>Faizan Akhtar's, Copyright &copy; 2020</p> 
   </footer>

   <script src="/script.js"></script>